/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.theme-menu__button:after {
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.6;
  position: absolute;
  left: 0;
  bottom: -1px;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  border-bottom: 2px solid;
}

.theme-menu__button:disabled::before {
  content: "▶";
  font-family: var(--accent-font-family, "Press-Start-2P-Regular", fantasy);
  animation: arrow 0.5s alternate ease-in-out infinite;
  position: absolute;
  left: -16px;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

@keyframes arrow {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(4px);
  }
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  transition: 0.3s ease;
  outline: 2px solid #000;
}

.card__icon-button:hover {
  cursor: pointer;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--themes-main-color, #000);
  transition: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .core {
  fill: var(--name-sparks, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--name-sparks, #ff0000);
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .main-body {
  fill: var(--themes-main-color, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--name-sparks, #ff0000);
  transition: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .main-body {
  fill: var(--name-sparks, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon:active .contour {
  fill: var(--themes-main-color, #000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .contour {
  fill: var(--name-sparks, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation:  change-scale 0.3s 0.1s ease-in;
  transform-origin: center;
}

@keyframes change-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}

.sparks {
  position: absolute;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s 0.3s ease-in;
  position: relative;
}

 @keyframes change-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
} 

.card__like-button:hover .button__text {
  color: var(--themes-background__dark, #fff);
  mix-blend-mode: difference;
}

.card__like-button:hover::after {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.card__like-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--themes-main-color, #000);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.card__like-button:focus {
  outline: none;
  box-shadow: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--themes-main-color, #000);
}

.button__ok:focus {
  outline: none;
}

.button__ok:focus-visible {
  box-shadow: 2px 2px 0 0 var(--themes-main-color, #000);
}

.floppy__btn span,
.floppy,
.button__text {
  position: relative;
  z-index: 2;
}

.floppy__btn:hover .button__text {
  color: var(--themes-background__dark, #fff);
  mix-blend-mode: difference;
}

.floppy__btn:hover .floppy {
  color: var(--themes-background__dark, #fff);
  mix-blend-mode: difference;
}

.floppy__btn:hover::after {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.floppy__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--themes-main-color, #000);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.floppy__btn:focus {
  outline: none;
  box-shadow: none;
}

.floppy__btn:focus-visible {
  box-shadow: 2px 2px 0 0 var(--themes-main-color, #000);
}

.button__ok:hover .button__text {
  color: var(--themes-background__dark, #fff);
  mix-blend-mode: difference;
  z-index: 2;
  position: relative;
}

.button__ok:hover::after {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.button__ok::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--themes-main-color, #000);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}