/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: 'Inter', sans-serif;
    --accent-font-family: 'Press-Start-2P-Regular', fantasy;
    --wdth: 785;
    --wdth-text: 465;
    --themes-background__light: #FFF;
    --themes-main-color: #000;
    --name-sparks: #FF0000;
}